body {
  background-color: tan;
}

.studentcard {
  margin: 10px;
}

.studentfilter {
  background-color: white;
  color: black;
  border: black solid 1px;
}

#cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#expelledStudentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
